.carousel_container {
    width: 100%;
    max-width: 40rem;
    margin: 0 auto;
    padding-top: 5rem;
  }

  .carousel_container h2 {
    font-size: 2rem;
  }

  .item {
    width: 100%;
    margin: 0 auto;
  }
  
  .carousel_container h3 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
  }