.projectSection {
    max-width: 50rem;
    margin: 0 auto;
    padding: 2rem 0;
}

.mainContainer {
    border: 2px solid yellow;
}

.projectTextAndImageContainer {
    margin-bottom: 2rem;
}

.projectsTextContainer {
    border: 1px solid red;
    margin: 4rem auto 1rem auto;
    width: fit-content;
}

.projectsTextContainer h3 {
    font-size: 3rem;
}

.projectsTextContainer p {
    max-width: 20rem;
}

.projectPicMainContainer {
    width: 50%;
    margin: 0 auto;
  }
  
  .projectPicMainContainer img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  
  .projectsTextContainer li {
    line-height: 1.5rem;
  }

  .buttonMainContainer {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .buttonMainContainer button {
    margin-bottom: 1rem;
  }
  
  /* --------> Project modal styles: */
  
  .modalPicContainer {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .modalPicContainer img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  
  .modalTextContainer > * {
    margin-bottom: 2rem;
  }

  
  .modalTextContainer li {
    margin-left: 2rem;
    line-height: 1.25rem;
  }
  
  .projectButton {
    font-size: 1.2rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }
  
  .seeDetails {
    margin-left: 1.7rem;
  }

/* --------> Tablet screen styles: */

@media (max-width: 400px) {
    .projectsTextContainer h3 {
        font-size: 2rem;;
    }

    .projectPicMainContainer {
        width: 70%;
    }

    .modalPicContainer {
        margin: 2rem auto 0 auto;
        padding: 0;
    }

    .buttonMainContainer {
        width: 100%;
    }
}

  @media (min-width: 700px) {
    .projectSection {
      padding: 7rem 2rem 2rem 2rem;
    }
  
    .projectTextAndImageContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .projectsTextContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items:start;
      height: 30rem;
      margin: 1rem auto;
    }
    .buttonMainContainer {
        width: 100%;
    }

  }
  
  /* --------> Desktop screen styles: */
  
  @media (min-width: 1000px) {  
    .seeDetails {
      margin-left: 9.7rem;
    }
  }