.projectSection {
  max-width: 50rem;
  margin: 0 auto;
  padding: 2rem 0;
}

.mainContainer {
  margin: 0 auto;
}

.projectTextAndImageContainer {
  margin-bottom: 2rem;
}

.projectsTextContainer {
  margin: 4rem auto 1rem auto;
}

.projectsTextContainer h3 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.projectsTextContainer p {
  max-width: 18rem;
  margin-bottom: 1rem;
}

.projectPicMainContainer {
  width: 50%;
  margin: 0 auto;
}

.projectPicMainContainer img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.projectsTextContainer li {
  line-height: 1.5rem;
}

/* --------> Project modal styles: */

.modalPicContainer {
  width: 60%;
  margin: 0 auto;
}

.modalPicContainer img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.modalTextContainer > h4 {
  margin-top: 2rem;
}

.modalTextContainer li {
  margin-left: 2rem;
  line-height: 1.25rem;
}

.projectButton {
  font-size: 1.2rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.seeDetails {
  margin-left: 1.7rem;
}

/* --------> Tablet screen styles: */

@media (max-width: 700px) {
  .mainContainer {
    padding: 0 5vw;
  }

  .projectsTextContainer h3 {
    font-size: 2.2rem;
  }
  .projectPicMainContainer {
    width: 60%;
  }
}

@media (max-width: 400px) {

  .mainContainer {
    padding: 0 17%;
  }

  .projectsTextContainer ul {
    margin-bottom: 2rem;
  }


  .modalPicContainer {
    margin: 2rem auto 0 auto;
    padding: 0;
  }

  .buttonMainContainer button {
    margin-bottom: 0.5rem;
  }
  .projectPicMainContainer {
    width: 80%;
  }
}

@media (min-width: 400px) {
  .projectTextAndImageContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

@media (min-width: 700px) {
  .projectSection {
    padding: 7rem 2rem 2rem 2rem;
  }

  .projectsTextContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 1rem auto;
  }

  .buttonMainContainer {
    margin-top: -10rem;
  }

  .mainContainer {
    padding-bottom: 10rem;
  }
}

/* --------> Desktop screen styles: */

@media (min-width: 1000px) {
  .seeDetails {
    margin-left: 9.7rem;
  }
}
